
<div class="articles">
    <h2 align="senter">Телефон</h2>
    <h3>Телефо́н (від дав.-гр. τῆλε «далеко» + φωνή «голос», «звук») — вид електрозв'язку, що дає змогу передавати і приймати мовлення на відстань за допомогою електричних сигналів (що передаються дротами) або радіосигналів.Винайдення телефону є результатом праці багатьох людей і його авторство не можна приписати одній конкретній особі (як у випадку, наприклад, з фотографією або кінематографом).
    </h3>
    <img class="img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/ATTtelephone-large.jpg/300px-ATTtelephone-large.jpg">
</div>