body{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Ravlyk-1514.jpg/1280px-Ravlyk-1514.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}
p{
color: rgb(13, 255, 5);
font-family: 'Karantina', cursive;

}
h1{
    color: rgb(255, 204, 0);
}
a{
    text-decoration:none;
    color: rgb(8, 255, 255);
}